<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HaliSaha.com.Properties.Settings.HaliSahaVTConnectionString"
            connectionString="Data Source=MErenAydın\SQLEXPRESS;Initial Catalog=HaliSahaVT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>